<header class="bg-white flex justify-between items-center p-4 header">
  <div class="flex items-center w-full">
    <div class="w-1/3">
      <a href="/home" class="inline-block">
        <img src="../../assets/logo_republique_francaise.png" class="h-16 object-scale-down drop-shadow-md rounded-md" />
      </a>
    </div>

    <div class="flex justify-center flex-grow">
      <a href="/home" class="text-center text-black px-8 font-bold text-xl">(RE)Sources relationnelles</a>
    </div>



    <div class="w-1/3 flex justify-end items-center">
      <a href="/gestion_donnees" class="flex text-gray-300 pr-6">gestion des données</a>
      <a href="/profile">
      <i class="fa-solid fa-circle-user h-16"></i>
      </a>
    </div>
  </div>
</header>
