<div class="card favorite-card bg-white">
  <div class="card-title bg-black rounded-t-xl">
    <div class="flex items-center space-x-4 p-3">
      <i class="fa-solid fa-comments scale-150" style="color: #f8f7ff;"></i>
      <div class="text-white font-extrabold hidden lg:flex text-sm">
        <p class="">
          Commentaires
        </p>
      </div>
    </div>
  </div>
  <div class="card pl-4 pr-4 overflow-auto">
    <div class="text-center pb-2 mt-2 flex flex-col justify-center items-center">
      <div>
        <p class="font-bold h-36 flex items-center justify-center">En cours de développement</p>
      </div>
    </div>
  </div>
</div>
