<app-header/>

<body class="bg-gradient-to-b from-blue-100 to-blue-300 min-h-[85vh]">

<div class="grid grid-cols-5 gap-5 py-3.5">
  <div></div>
  <div class="col-span-3 rounded-3xl bg-white">
    <form action="" [formGroup]="createResourceForm" (ngSubmit)="createResource()">

      <div class="flex items-center justify-between p-6">
        <div class="flex w-full flex-col items-center justify-center gap-x-10 gap-y-3 md:flex-row">
          <div class="relative flex h-36 w-1/2 items-center justify-center rounded-3xl bg-neutral">
            <input type="file" class="absolute h-full w-full cursor-pointer opacity-0" formControlName="file_upload">
            <i class="h-11 fa-solid fa-camera lg:h-28" style="color: #000000;"></i>
          </div>
          <div class="w-1/2 space-y-2">
            <div class="w-full">
              <p class="font-bold">Titre</p>
              <input class="w-full rounded-3xl px-2 bg-neutral" type="text" formControlName="title"
                     placeholder="Écrivez ici...">
            </div>
            <div class="w-full">
              <p class="font-bold">Catégorie</p>
              <input class="w-full rounded-3xl px-2 bg-neutral" type="text" formControlName="categorie"
                     placeholder="Écrivez ici...">
            </div>
            <div class="w-full">
              <p class="font-bold">Relation</p>
              <input class="w-full rounded-3xl px-2 bg-neutral" type="text" formControlName="relation"
                     placeholder="Écrivez ici...">
            </div>
            <div class="w-full">
              <p class="font-bold">Portée</p>
              <input class="w-full rounded-3xl px-2 bg-neutral" type="text" formControlName="reach"
                     placeholder="Écrivez ici...">
            </div>
          </div>
        </div>
      </div>
      <p class="pl-10 font-bold">Contenu</p>
      <div class="justify-center pb-3 grid grid-cols-1 md:pb-7">
        <div class="h-56 w-11/12 rounded-3xl NgxEditor__Wrapper mx-auto">
          <ngx-editor-menu [editor]="editor"></ngx-editor-menu>
          <ngx-editor [editor]="editor" [disabled]="false" formControlName="content"
                      placeholder="Écrivez ici..."></ngx-editor>
        </div>
        <div class="mx-auto w-1/2 h-full mt-3 md:hidden">
          <button class="rounded-3xl bg-neutral w-full hover:bg-opacity-50 disabled:bg-gray bg-opacity-100" [disabled]="createResourceForm.invalid" type="submit">
            <i class="fa-regular fa-paper-plane h-6 p-1" style="color: #000000;"></i>
          </button>
        </div>

      </div>
      <div class="absolute right-0 bottom-0 mr-7 mb-7 items-center justify-center hidden md:block">
        <button class="rounded-3xl bg-neutral pt-4 pr-8 pb-4 pl-8 hover:bg-opacity-50 disabled:bg-opacity-50" [disabled]="createResourceForm.invalid" type="submit">
          <i class="fa-regular fa-paper-plane" style="color: #000000;"></i>
        </button>
      </div>
    </form>
  </div>

</div>
