<app-header />
<div class="grid grid-cols-5 salut gap-5">
    <div class="bg-red-400"></div>
    <div class="bg-green-400 col-span-3">
        <div class="bg-white rounded-xl">
            <div class="card">
                <div class="card-body">
                    <div class="flex justify-between">
                        <div class="flex space-x-10 items-center">
                            <div class="text-3xl font-bold">Ressources</div>
                            <div class="dropdown">
                                <div tabindex="0" role="button" class="">Categorie<i class="fa-solid fa-caret-down px-3"></i></div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-box w-52">
                                  <li><a>Item 1</a></li>
                                  <li><a>Item 2</a></li>
                                </ul>
                            </div>
                            <div class="dropdown">
                                <div tabindex="0" role="button" class="">Relation<i class="fa-solid fa-caret-down px-3"></i></div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-box w-52">
                                    <li><a>Item 1</a></li>
                                    <li><a>Item 2</a></li>
                                </ul>
                            </div>
                              <div class="dropdown">
                                <div tabindex="0" role="button" class="">Type<i class="fa-solid fa-caret-down px-3"></i></div>
                                <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-white rounded-box w-52">
                                  <li><a>Item 1</a></li>
                                  <li><a>Item 2</a></li>
                                </ul>
                            </div>
                        </div>
                        <input type="text" placeholder="Chercher..." >
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="bg-[#98C7FF] col-span-1 p-2 flex flex-col justify-between">
      <app-chat />
    </div>
</div>
