<div class="register-container">
  <div class="card register-card">
    <div class="card-body bg-neutral rounded-lg flex-col justify-between">
      <div class="text-center font-bold">S'inscrire</div>
      <form action="" [formGroup]="registerForm" (ngSubmit)="log()" class="flex flex-col justify-between items-center">
        <div class="space-y-2">
          <div>
            <label class="text-xs font-semibold" for="lastname">Nom</label>
            <input
              formControlName="lastname"
              type="text"
              id="lastname"
              class="w-full rounded-md p-2 bg-base-100"
            />
          </div>
          <div>
            <label class="text-xs font-semibold" for="firstname">Prénom</label>
            <input
              formControlName="firstname"
              type="text"
              id="firstname"
              class="w-full rounded-md p-2 bg-base-100"
            />
          </div>
          <div>
            <label class="text-xs font-semibold" for="email">Email</label>
            <input
              formControlName="email"
              type="email"
              id="email"
              class="w-full rounded-md p-2 bg-base-100"
            />
          </div>
          <div>
            <label class="text-xs font-semibold" for="password">Mot de passe</label>
            <input
              formControlName="password"
              type="password"
              id="password"
              class="w-full rounded-md p-2 bg-base-100"
            />
          </div>
          <div>
            <label class="text-xs font-semibold" for="confirmPassword">Confirmer le mot de passe</label>
            <input
              formControlName="confirmPassword"
              type="password"
              id="confirmPassword"
              class="w-full rounded-md p-2 bg-base-100"
            />
          </div>
        </div>
        <button class="btn mt-5 w-1/2 bg-accent text-white" type="submit">S'inscrire</button>
      </form>
    </div>
  </div>
</div>

